body{
{
#banner{
 width=100%;
{
.principal{
  background:#cccccc;
  padding=30px
{
  .titulo-centralizado{
  text-align=center;
{
    text= center;
    #missão{
    font-size=20px
{
  em strong{
    color= #FFOOOO;
{
.havs{
  font-style=italic;
{
.beneficios{
  background= #FFFFFF;
  padding:20px
{
ul{
  diplay=inline-blixk;
  vertical-align:top;
  width=20%
  wargin-right=15%;
{
  .imagembeneficios{
    width=50%;
    {
    
  
    
  
  
